body.wayfinding-popup-open {
  overflow: hidden;
}
#wayfinding-popup {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}
#wayfinding-popup .wayfinding-popup-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  background-color: white;
}
#wayfinding-popup .wayfinding-popup-content-wrapper {
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  background-color: white;
}
#wayfinding-popup .wayfinding-popup-content-wrapper .wayfinding-popup-content,
#wayfinding-popup
  .wayfinding-popup-content-wrapper
  .wayfinding-popup-content
  .views-element-container {
  width: 100%;
  height: 100%;
}

#wayfinding-popup .wayfinding-popup-content-wrapper .loading {
  margin-top: 20%;
  text-align: center;
  color: #808080;
  font-size: 2.5rem;
}
#wayfinding-popup .wayfinding-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  background-image: url("../img/close.svg");
  background-size: 32px 32px;
}
#wayfinding-popup .wayfinding-close:hover {
  cursor: pointer;
}
