{% for row in rows  %}
  <div class="destination" id="{{ row.wayfinding_id }}" data-svgid="{{ row.svgid }}" data-geolocation-lat="{{ row.geolocation.lat }}" data-geolocation-lng="{{ row.geolocation.lng }}">
    {{ row.img }}
  </div>
{% endfor %}
