<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <title>Way finding</title>
    <styles/>
    <scripts/>
  </head>
  <body class="wayfinding device-id-{{ did }} ext-id-{{ eid }}">
    {{ view }}
    {{ blocks }}
    <scripts_bottom/>
  </body>
</html>
