<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <title>Way finding</title>
  </head>
  <body class="wayfinding device-id-{{ did }} ext-id-{{ eid }}">
    {{ view }}
    {{ blocks }}
  </body>
</html>
